/* /Pages/Project/Project.razor.rz.scp.css */
.dashboard-container[b-52nkj9zb31] {
    padding: 1rem;
}

.project-container[b-52nkj9zb31] {
    box-sizing: border-box;
    width: 250px;
    height: 150px;
    background-color: var(--bs-gray-800);
    border-radius: 1rem;
    padding: 2px;
}

.new-project span[b-52nkj9zb31] {
    display: none;
}

.new-project:hover span[b-52nkj9zb31] {
    display: block;
}

.new-project:hover i[b-52nkj9zb31] {
    display: none;
}

.project-short-description[b-52nkj9zb31] {
    padding: 0;
    border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
}

.show-pointer[b-52nkj9zb31] {
    cursor: pointer;
}

@media (max-width: 768px) {
    .project-container[b-52nkj9zb31] {
        width: 100%;
    }
}
/* /Pages/Todo/Todo.razor.rz.scp.css */
.toolbar[b-odokns6mxw] {
    background-color: var(--bs-gray-800);
    height: 2.5rem;
    padding-left: 1rem;
    padding-top: .5rem;
}

.toolbar-action span[b-odokns6mxw] {
    padding: 1rem;
}

.toolbar-action:hover[b-odokns6mxw] {
    background-color: var(--bs-gray-600);
    border-radius: 5px;
    height: 1.6rem;
    cursor: pointer;
}

.todo-container[b-odokns6mxw] {
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.todo-bucket[b-odokns6mxw] {
    padding: 1rem;
    width: 20vw;
}

.todo-bucket-items[b-odokns6mxw] {
    margin-top: 1rem;
}

.todo-item[b-odokns6mxw] {
    background-color: var(--bs-gray-800);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
}

.todo-item:hover[b-odokns6mxw] {
    background-color: var(--bs-gray-600);
}

.add-todo-item[b-odokns6mxw] {
    padding-left: .5rem;
}

.show-pointer[b-odokns6mxw] {
    cursor: pointer;
}
/* /Pages/TodoList/Components/TodoItem.razor.rz.scp.css */
.todo-list-item[b-zb1u84s00p] {
    background-color: #2a2f33;
    height: 2.5rem;
    border-radius: 4px;
    cursor: pointer;
}

.empty-circle[b-zb1u84s00p] {
    border: 2px solid #8d4e84;
    height: 16px;
    width: 16px;
    border-radius: 50%;
}

.circle:hover[b-zb1u84s00p], .full-circle[b-zb1u84s00p] {
    background-color: #8d4e84;
    height: 16px;
    width: 16px;
    border-radius: 50%;
}
/* /Pages/TodoList/TodoList.razor.rz.scp.css */
.todo-list-container[b-e8khgv3nw2] {
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.add-todo-container[b-e8khgv3nw2] {
    background-color: #28282b;
    border-radius: 4px;
}

.add-todo-icon[b-e8khgv3nw2] {
    color: #8557cc;
}

[b-e8khgv3nw2] input {
    border: none;
    appearance: none;
    padding: .7rem;
    outline: none;
    background-color: #28282b;
    color: #979797;
}

[b-e8khgv3nw2] input::placeholder {
    color: #8557cc;
}

.completed-todo-list-items-section[b-e8khgv3nw2] {
    background-color: #8d4e84;
    padding: .3rem;
    border-radius: 4px;
    width: fit-content;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.main-container[b-rszg31j7s4] {
    display: grid;

    grid-template-columns: 15vw auto;
    grid-template-rows: auto;
    
    height: 100vh;
}

.navigation-area[b-rszg31j7s4] {
    grid-area: 1 / 1 / 6 / 2;

    border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
}

.content-area[b-rszg31j7s4] {
    grid-area: 1 / 2 / 2 / 6;
    height: 100vh;
}

@media (max-width: 768px) {
    .main-container[b-rszg31j7s4] {
        grid-template-columns: 50px auto;
    }
}
/* /Shared/Navigation.razor.rz.scp.css */
.side-navigation-container[b-iy2ataps2w] {
    height: inherit;
    width: 100%;
    font-size: 1rem;
}

.side-navigation-container ul[b-iy2ataps2w] {
    padding: 0;
}

.side-navigation-item[b-iy2ataps2w] {
    list-style: none;
    cursor: pointer;
    height: 2.5rem;
    padding-left: 1rem;
    padding-top: .5rem;
}

.side-navigation-item:hover[b-iy2ataps2w] {
    background-color: var(--bs-gray-800);
}

.tooltip[b-iy2ataps2w] {
    display: none;
}

@media (max-width: 768px) {
    .side-navigation-item-details span[b-iy2ataps2w] {
        display: none;
    }

    .side-navigation-item-details:hover span[b-iy2ataps2w] {
        display: none;
    }
}
