.toolbar {
    background-color: var(--bs-gray-800);
    height: 2.5rem;
    padding-left: 1rem;
    padding-top: .5rem;
}

.toolbar-action span {
    padding: 1rem;
}

.toolbar-action:hover {
    background-color: var(--bs-gray-600);
    border-radius: 5px;
    height: 1.6rem;
    cursor: pointer;
}

.todo-container {
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.todo-bucket {
    padding: 1rem;
    width: 20vw;
}

.todo-bucket-items {
    margin-top: 1rem;
}

.todo-item {
    background-color: var(--bs-gray-800);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
}

.todo-item:hover {
    background-color: var(--bs-gray-600);
}

.add-todo-item {
    padding-left: .5rem;
}

.show-pointer {
    cursor: pointer;
}