.side-navigation-container {
    height: inherit;
    width: 100%;
    font-size: 1rem;
}

.side-navigation-container ul {
    padding: 0;
}

.side-navigation-item {
    list-style: none;
    cursor: pointer;
    height: 2.5rem;
    padding-left: 1rem;
    padding-top: .5rem;
}

.side-navigation-item:hover {
    background-color: var(--bs-gray-800);
}

.tooltip {
    display: none;
}

@media (max-width: 768px) {
    .side-navigation-item-details span {
        display: none;
    }

    .side-navigation-item-details:hover span {
        display: none;
    }
}
